.todo_item {
  display: flex;
  margin-bottom: 10px;
}
.todo_item label {
  flex-grow: 1;
}
.todo_item button {
  padding: 0 10px;
  color: #b83030;
  height: 32px;
  border: 1px solid #b83030;
  background: none;
  border-radius: 4px;
  font-size: 16px;
}
.todo_item .done {
  text-decoration: line-through;
  color: #999;
}
